<!DOCTYPE html>
<html>
<head>
    <!-- Information about website and creator -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Defines the compatibility of version with browser -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for make website responsive -->
    <meta name="author" content="Amiay Narayan">
    <meta name="" content="" >
    <!-- To give information about author or owner -->
    <meta name="description" content="Write any piece of short composition in just a few seconds using AI.">
  <title>{% block title %}Letter Generator{% endblock %}</title>
  <!--css files-->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/my_styles.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  {% block jscript %}
  {% endblock %}
</head>
<body>
  <div class="container-md content-box">
    <div class="row">
      <div class="col-12 col-lg-3">
      </div>
        {% block content %}
        {% endblock %}
      <div class="col-12 col-lg-3">
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  <!-- <script>
    function resizeTextArea(textArea) {
      textArea.style.height = "";
      textArea.style.height = Math.min(textArea.scrollHeight, 200) + "px";
      console.log('this was run');
    }
    var textArea = document.getElementById("myTextArea");
    textArea.addEventListener("input", function() {
      resizeTextArea(textArea);
    });
  </script> -->
</body>
</html>