{% extends "base.html" %}

{% block title %}
    Edit
{% endblock %}
{% block content %}
    <div class="col-8">
        <div class="card">
            <h5 class="card-header text-center">Edit your letter</h5>
            <div class="card-body">
                <form method="POST" action={{ url_for('edit_para')}}>
                    {% for paragraph in paragraphed_letter %}
                        <div class="form-group">
                            <textarea rows="4" class="form-control" name="para_{{ loop.index }}">{{ paragraph }}</textarea>
                            <span id="tag-{{loop.index}}">Modified</span>
                        </div>
                        <button type="button" class="btn btn-sm btn-primary open-button" id="open-button-{{loop.index}}" onclick="openForm({{loop.index}})">Re-write Paragraph</button>
                        <div class="form-container" id="myForm-{{ loop.index }}">
                            <h5>Describe how to re-write.</h5>
                            <input type="text" class="form-control" placeholder="eg. Use stronger tone" name="instruction_{{ loop.index }}">        
                            <button type="submit" id="para-submit-button-{{loop.index}}" class="btn btn-info" onclick="savePara({{loop.index}})">Re-write Now</button>
                            <button type="button" class="btn btn-primary cancel" onclick="closeForm({{ loop.index }})">Back</button>
                        </div>
                        <div id="progress-container-{{loop.index}}">
                            <p id="action-text-{{loop.index}}">Letter Generator at work...</p>
                            <div id="progress-line-{{loop.index}}" class="progress-bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <br><br>
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        {% for paragraph in paragraphed_letter %}
            var textarea = $("#para_{{ loop.index }}");
            textarea.on("input", function() {
            this.style.height = "";
            this.style.height = this.scrollHeight + "px";
            });
            textarea.trigger("input");
        {% endfor %}
    });
    </script>
    <script>
        const toBeTagged = window.localStorage.getItem('modifiedList');
        JSON.parse(toBeTagged) && JSON.parse(toBeTagged).forEach((index) => {
            document.getElementById(`tag-${index}`).style.visibility = "visible";
        });
        function savePara(index) {
            const modifiedList = JSON.parse(window.localStorage.getItem('modifiedList'));
            if (modifiedList) {
                modifiedList.push(index);
                window.localStorage.setItem('modifiedList', JSON.stringify(modifiedList));
            } else {
                window.localStorage.setItem('modifiedList', JSON.stringify([index]));
            }
        }
        function showProgress(index) {
            document.getElementById(`progress-container-${index}`).style.display = "block";
            setTimeout(() => {
                document.getElementById(`progress-line-${index}`).style.display = "none";
                document.getElementById(`action-text-${index}`).style.display = "none";
                document.querySelector('.progress').style.display = "none";
                document.getElementById(`tag-${index}`).style.visibility = "visible";
            }, 10000);
        }
        {% for paragraph in paragraphed_letter %}
            var submitBtn = document.getElementById('para-submit-button-{{loop.index}}');
            if(submitBtn){
                submitBtn.addEventListener("click", () => showProgress({{loop.index}}), false);
            }
        {% endfor %}
        function openForm(id) {
          document.getElementById(`myForm-${id}`).style.display = "block";
          document.getElementById(`open-button-${id}`).style.display = "none";
        }
        
        function closeForm(id) {
          document.getElementById(`myForm-${id}`).style.display = "none";
          document.getElementById(`open-button-${id}`).style.display = "block";
        }
    </script>
{% endblock %}