{% extends "base.html" %}

{% block title %}
    Edit
{% endblock %}
{% block content %}
    <div class="col-10">
        <div class="card">
            <h5 class="card-header text-center">Edit your letter</h5>
            <div class="card-body">
                <div class="container">
                    <form method="POST" action={{ url_for('edit_para')}}>
                        {% for paragraph in paragraphed_letter %}
                        <div class="row">
                            <div class="col-8">
                               <div class="row">
                                  <div class="col-1 align-self-center">
                                     <span class="paragraph-number">{{ loop.index }}</span>
                                  </div>
                                  <div class="col-11">
                                     <div class="form-group">
                                        <textarea rows="4" class="form-control" name="para_{{ loop.index }}">{{ paragraph }}</textarea>
                                     </div>
                                  </div>
                               </div>
                               <div class="row">
                                  <div class="col-1">
                                  </div>
                                  <div class="col-11">
                                     <div class="form-container" id="myForm-{{ loop.index }}">
                                        <div>Describe how to re-write</div>
                                        <div class="input-group input-group-sm">
                                           <input type="text" class="form-control" placeholder="eg. Make this funny" name="instruction_{{ loop.index }}">        
                                        </div>
                                        <button type="button" class="btn btn-sm btn-primary cancel" onclick="closeForm({{ loop.index }})">Back</button>
                                        <button type="submit" class="btn btn-sm btn-info" id="para-submit-button-{{loop.index}}" onclick="savePara({{loop.index}})">Re-write Now</button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="col-4">
                               <button type="button" class="btn btn-sm btn-outline-success open-button my-button" id="open-button-{{loop.index}}" onclick="openForm({{loop.index}})">Edit</button>
                               <style>
                                  .my-button {
                                  width: 70px;
                                  }
                               </style>
                               <span id="tag-{{loop.index}}">Modified</span>
                               <div id="progress-container-{{loop.index}}">
                                  <p id="action-text-{{loop.index}}">Generating...</p>
                                  <div id="progress-line-{{loop.index}}" class="progress-bar">
                                     <div class="progress"></div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <hr>
                        {% endfor %}
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        {% for paragraph in paragraphed_letter %}
            var textarea = $("#para_{{ loop.index }}");
            textarea.on("input", function() {
            this.style.height = "";
            this.style.height = this.scrollHeight + "px";
            });
            textarea.trigger("input");
        {% endfor %}
    });
    </script>
    <script>
        const toBeTagged = window.localStorage.getItem('modifiedList');
        JSON.parse(toBeTagged) && JSON.parse(toBeTagged).forEach((index) => {
            document.getElementById(`tag-${index}`).style.visibility = "visible";
        });
        function savePara(index) {
            const modifiedList = JSON.parse(window.localStorage.getItem('modifiedList'));
            if (modifiedList) {
                modifiedList.push(index);
                window.localStorage.setItem('modifiedList', JSON.stringify(modifiedList));
            } else {
                window.localStorage.setItem('modifiedList', JSON.stringify([index]));
            }
        }
        function showProgress(index) {
            document.getElementById(`progress-container-${index}`).style.display = "block";
            setTimeout(() => {
                document.getElementById(`progress-line-${index}`).style.display = "none";
                document.getElementById(`action-text-${index}`).style.display = "none";
                document.querySelector('.progress').style.display = "none";
                document.getElementById(`tag-${index}`).style.visibility = "visible";
            }, 10000);
        }
        {% for paragraph in paragraphed_letter %}
            var submitBtn = document.getElementById('para-submit-button-{{loop.index}}');
            if(submitBtn){
                submitBtn.addEventListener("click", () => showProgress({{loop.index}}), false);
            }
        {% endfor %}
        function openForm(id) {
          document.getElementById(`myForm-${id}`).style.display = "block";
          document.getElementById(`open-button-${id}`).style.display = "none";
        }
        
        function closeForm(id) {
          document.getElementById(`myForm-${id}`).style.display = "none";
          document.getElementById(`open-button-${id}`).style.display = "block";
        }
    </script>


    <style>
        .btn btn-sm btn-outline-success open-button {
          width: 70px;
        }
    </style>
{% endblock %}