{% extends "base.html" %}

{% block title %}
    Finalise
{% endblock %}
{% block content %}
    <div class="col-8">
        <div class="card">
            <h5 class="card-header text-center">Finalise your letter</h5>
            <div class="card-body">
                <form method="POST" action={{url_for('finalise')}}>
                    <textarea id="finalLetter" type="hidden" name="letter" rows="25" class="form-control" onchange="updateValue()">{{letter}}</textarea>   
                    <br><br>
                    <button type="button" class="btn btn-primary open-button" id="open-button" onclick="openForm()">Re-write Paragraph</button>
                    <div class="form-container" id="letterForm">
                        <div>Describe how to re-write.</div>
                        <div class="input-group input-group-sm">
                            <input type="text" placeholder="eg. Use stronger tone" class="form-control" name="instruction"></input>
                        </div>
                        <button type="button" class="btn btn-sm btn-dander cancel" onclick="closeForm()">Back</button>
                        <button type="submit" id="letter-submit-button" class="btn btn-sm btn-primary">Re-write Now</button>
                    </div>
                </form>
                <button class="btn btn-success open-button" type="button" onclick="downloadPDF()">Export to PDF</button>
                <div id="progress-container">
                    <p id="action-text">Letter Generator at work...</p>
                    <div id="letter-progress-line" class="progress-bar">
                        <div class="progress"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Get the button and spinner elements
        var submitBtn = document.getElementById("letter-submit-button");
        var progressBar = document.getElementById("progress-container");
        var progressLine = document.getElementById("letter-progress-line");
        function showProgress() {   
            progressBar.style.display = "block";
            setTimeout(() => {
                progressLine.style.display = "none";
                document.querySelector('.progress').style.animation = "none";
                document.getElementById("action-text").innerHTML = "Done! Hang tight."
            }, 10000);
        }
        // Add a click event listener to the button
        if(submitBtn){
            submitBtn.addEventListener("click", showProgress, false);
        }

        function updateValue() {
            var inputValue = document.getElementById("finalLetter").value;
        }
        // clear local storage
        window.localStorage.removeItem('modifiedList');
        function downloadPDF() {
            var pdf = new jsPDF("p", "mm", "a4");
            var text = document.getElementById("finalLetter").value;
            var paragraphs = text.split("\n\n");

            // pdf.setFont("times");
            pdf.setFont("helvetica");
            pdf.setFontSize(12);

            var x = 20;
            var y = 20;
            var lineHeight = 10;
            var pageWidth = pdf.internal.pageSize.getWidth();

            for (var i = 0; i < paragraphs.length; i++) {
                var words = paragraphs[i].split(" ");
                var line = "";
                for (var j = 0; j < words.length; j++) {
                    var testLine = line + words[j] + " ";
                    var testWidth = pdf.getStringUnitWidth(testLine) * pdf.internal.getFontSize() / pdf.internal.scaleFactor;
                    if (testWidth > pageWidth - x * 2 && j > 0) {
                        pdf.text(x, y, line);
                        line = words[j] + " ";
                        y += lineHeight;
                    } else {
                        line = testLine;
                    }
                }
                pdf.text(x, y, line);
                y += 1.5 * lineHeight;
            }
            pdf.save("final_letter.pdf");
        }
        function openForm() {
          document.getElementById('letterForm').style.display = "block";
          document.getElementById(`open-button`).style.display = "none";
        }
        
        function closeForm() {
          document.getElementById('letterForm').style.display = "none";
          document.getElementById(`open-button`).style.display = "block";
        }
    </script>
{% endblock %}
