{% extends "base.html" %}

{% block title %}
    Finalise
{% endblock %}
{% block content %}
    <h1>Finalise your letter</h1>
    <textarea id="myTextArea" type="hidden" name="letter" rows="25" cols="120">{{letter}}</textarea>   
    <br><br>
    <button class="open-button submit-btn" type="button" onclick="downloadPDF()">Export to PDF</button>

    <script>
        function downloadPDF() {
            var pdf = new jsPDF();
            var elementHTML = document.getElementById("myTextArea").innerHTML;
            var specialElementHandlers = {
                '#elementHTML': function (element, renderer) {
                    return true;
                }
            };
            pdf.fromHTML(elementHTML, 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });
            pdf.save("letter.pdf");
        }
    </script>
{% endblock %}
