{% extends 'base.html' %}

{% block title %}
    Information
{% endblock %}
{% block content %}
    <div class="col-8">
        <div class="card">
            <h5 class="card-header text-center">Paragraph-wise letter</h5>
            <div class="card-body">
                {% for paragraph in paragraphed_letter %}
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                {{ paragraph }}
                            </div>
                            <div class="col-1">
                                <span class="paragraph-number">{{ loop.index }}</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                <form method="GET" action={{ url_for('edit_para')}}>
                    <button type="submit" class="btn btn-info">Edit Letter</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}