{% extends "base.html" %}

{% block title %}
    Set Parameters
{% endblock %}
{% block content %}
    <form method="POST" action="{{ url_for('parameters') }}">
        <h1>Enter parameters for your letter</h1>
        <label for="instruction">Instruction for the letter:</label>
        <input type="text" id="instruction" name="instruction">
        <br><br>
        <label for="word_count">Word Count:</label>
        <input type="number" id="word_count" name="word_count">
        <br><br>
        <button id="submit-button" class="open-button submit-btn" type="submit">Submit</button>
    </form>
    <div id="progress-container">
        <p id="action-text">Letter Generator at work...</p>
        <div id="progress-line" class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>


    <script>
        // Get the button and spinner elements
        var submitBtn = document.getElementById("submit-button");
        var progressBar = document.getElementById("progress-container");
        var progressLine = document.getElementById("progress-line");
        function showProgress() {
            progressBar.style.display = "block";
            setTimeout(() => {
                progressLine.style.display = "none";
                document.querySelector('.progress').style.animation = "none";
                document.getElementById("action-text").innerHTML = "Done!"
            }, 10000);
        }
        // Add a click event listener to the button
        if(submitBtn){
            submitBtn.addEventListener("click", showProgress, false);
        }
    </script>
{% endblock %}